name: "neoespa-judge"
mode: ONCE
hostname: "judge"
clone_newnet: true
clone_newuser: true
clone_newns: true
clone_newpid: true
clone_newipc: true
clone_newcgroup: true
uidmap { inside_id: "65534" outside_id: "" count: 1 }
gidmap { inside_id: "65534" outside_id: "" count: 1 }
keep_caps: false
disable_no_new_privs: false
mount_proc: false
iface_no_lo: true
# gcc/g++ 는 링크 단계에서 PATH 로 ld 를 찾는다. 값을 명시하지 않으면 감옥 안의
# 환경변수가 비어 C/C++ 제출이 링크 단계에서 실패한다.
envar: "PATH=/usr/local/bin:/usr/bin:/bin"
seccomp_string: "POLICY judge { ALLOW { read, write, open, openat, close, lseek, mmap, mprotect, munmap, brk, arch_prctl, rt_sigaction, rt_sigprocmask, rt_sigreturn, ioctl, pread64, readv, writev, access, faccessat, faccessat2, pselect6, sched_yield, sched_getaffinity, mremap, madvise, dup, dup3, nanosleep, getpid, gettid, sendfile64, socketpair, clone, clone3, execve, exit, wait4, kill, fcntl, fsync, fdatasync, ftruncate, getdents64, getcwd, chdir, mkdir, mkdirat, unlink, unlinkat, readlink, readlinkat, rename, renameat, umask, chmod, fchmod, fchmodat, getrusage, sysinfo, times, getuid, getgid, geteuid, getegid, set_tid_address, clock_gettime, exit_group, tgkill, newfstatat, prlimit64, getrandom, rseq, futex, set_robust_list, SYSCALL[5], SYSCALL[80] } } USE judge DEFAULT ERRNO(1)"
mount { src: "/" dst: "/" is_bind: true rw: false }
mount { dst: "/tmp" fstype: "tmpfs" rw: true options: "size=67108864" }
